*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Start home page */
/* Start navbar */
.navbar{
    background-color: black;
    height: 90px;
    display: flex;
    align-items: center;
}
.navbar .leftnavbar{
    margin-left: 30px;
    margin-right: 300px;
}

.navbar .leftnavbar h2{
    color: white;
    font-size: 20px;


}
 .ora{
    color: aqua;
    font-size: 40px;
}
.navbar .rightnavbar{
    margin-left: 200px;
    align-items:center ;
   
}
.navbar .rightnavbar ul {
    display: flex;

}
.navbar .rightnavbar ul li{
    list-style: none;
  
}
.navbar .rightnavbar ul li a{
    list-style: none;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    padding: 15px;
}
.navbar .rightnavbar ul li a:hover{
    color:orange;
}
.navbar .register {
   padding: 20px;
    margin-left: 250px;
    display: flex;
}
.navbar .register a{
    padding: 7px 15px;
    margin-left: 10px;
    border: 1px solid black;
    background-color: orange;
    text-decoration: none;
    color: white;
    border-radius: 7px;

}
.navbar .register a:hover{
    background-color: brown;
}
/* End navbar */
/* Start seconddiv */
.seconddiv{
    background-image: url("https://img.magnific.com/free-photo/top-view-cropped-hands-senior-cook-unrecognizable-cutting-carrot-cooking-vegetable-stew_1098-20510.jpg?semt=ais_hybrid&w=740&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}
.seconddiv h1{
    padding-top: 20px;
    font-size: 50px;
    padding-left: 20px;
    text-align: center;
}
.seconddiv p{
    font-size: 17px;
    padding:20px 20px;
    color:white;
    padding-top: 30px;
    font-weight: 100;
}
.seconddiv a{
    border-radius: 7px;
    background-color: orange;
    margin-left: 700px;
    margin-top: 30px;
    color: white;
    border: 1px solid orange;
    padding:7px 17px;
    text-decoration: none;

}
.seconddiv a:hover{
    background-color: brown;

}
/* End seconddiv */
/* start thirddiv */
.thirddiv{
    background-color: beige;
    display: flex;
    justify-content: center;
    height: 150px;
    align-items: center;

}
.thirddiv h2{
    margin-right: 250px;
}
.thirddiv i{
    font-size: 45px;
    padding-right: 50px;
}
.thirddiv span{
    padding-right: 50px;
    font-size: 20px;
}
/* End thirddiv */
/* Start fourthdiv */
.fourthdiv{
    display: flex;
   background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJAgms1AG9Xk-YNJUbGbyjsYtw9bvniIhqnFaisS5nwqVisYO7oh_0UnQ&s=10");
   background-repeat: no-repeat;
   background-size: cover;
   height: 400px;
   align-items: center;
}
.fourthdiv .firstdish{
    margin-left: 100px;
    width: 33,3%;
      flex-direction: column;
      transition: all 0.5s ease;
}
.fourthdiv .firstdish:hover{
    transform: translate(7px,-10px);
}
.fourthdiv .firstdish img{
    width: 200px;
    margin-top: 10px;
}

.fourthdiv .firstdish h5{
    font-size: 30px;

}
.fourthdiv .firstdish p:nth-of-type(1){
    color: white;
    font-size: 15px;
}
.fourthdiv .firstdish p:nth-of-type(2){
    color:teal;
    font-size: 20px;
}
.fifthdiv {
    height: 700px;
    background-color: #f8f8f8;
    text-align: center;

}
.fifthdiv .containerfood .whyfood{
    width: 75%;
    margin-left: 220px;
    margin-bottom: 15px;
    background-color: white;
    padding: 35px 25px;
    border-radius: 18px;
    transition: all 0.3s ease;
    border: 1px solid #eee;

}
.fifthdiv .containerfood .whyfood:hover{
    transform: translate(5px,-8px);
}
.fifthdiv h1{
    /* text-align: center; */
    font-size: 40px;
    margin-left: 22px;
    color: #111;
    margin-bottom: 20px;
}
.fifthdiv .containerfood{
    display: flex;
    justify-content:center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
.fifthdiv .containerfood .whyfood h3{
    font-size: 30px;
    font-weight: 700;
    color: #111;
}
.fifthdiv .containerfood .whyfood p{
    font-size: 15px;
    color: #666;
}
.sixdiv{
    height:70px;
    background-color: #111;
    align-items: center;
    display: flex;
    

}
.sixdiv p{
    font-size: 20px;
    margin-left: 90px;
    margin-top: 30px;
    color: white;
    margin-right: 400px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.sixdiv a{
    margin-left: 100px;
    transition: all 0,5 ease;
}
.sixdiv a i {
     color: grey;
     margin-right: 80px;
}
.sixdiv a:hover{
    transform: translate(3px,-5px);
}

/* START contact page */
.contact{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/020/804/109/small/communication-and-technology-concept-hand-putting-wooden-block-cube-symbol-telephone-email-address-website-page-contact-us-or-e-mail-marketing-contact-us-in-customer-support-concept-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
.contact h1{
    text-align: center;
    padding-top: 30px;
    color: grey;
    font-weight: 1000;
    font-size: 41px;
}
.contact h1 span i{
    color: black;
}
.contact p{
    text-align: center;
    color: black;
    padding-top: 30px;
font-size: 19px;
font-weight: 400; 
}
.containercontact{
    display: flex;
    justify-content: center; 
    align-items: stretch;
      margin-top: 96px;
  
}
.containercontact .information{
    width: 50%;
    margin-left: 30px;
  
}
.containercontact .information h4{
    font-size: 25px;
    padding-bottom: 30px;
}
.containercontact .information h4 span #i1{
    color:red;
}
.containercontact .information h4 span #i3{
    color: white;
}
.containercontact .information h4 span #i4{
    color:  white;
}
.containercontact .information h4 span a{
    text-decoration: none;
    color: white;
}
.containercontact .information h4 span a:hover{
    color: brown;
}
.containercontact .contactform{
    width: 50%;
    margin-right: 30px;
}
.contactform input{
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid orange;
    border-radius: 8px;
}
.contactform input[type="submit"]{
    background-color: orange;
}







